:root{
    --main-background: #232323;
    --top-screen-background: #aaa;
    --bottom-screen-background: #888;
    --card-background: #333;
    --card-background-hover: #666;
}

p{
    font-size: 40px;
    margin: 6px;
}
*{
    margin: 0;
}
#titleCard{
    min-height: 5rem;
}
#top {
    min-width: 1080px;
    color: white;
    font-size: 2rem;
    background: linear-gradient(.25turn, black, #BBB, black);
    text-align: center;
}
#body{
    background-color: black;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
}
#main {
    position: relative;
    background-color: var(--main-background);
    width: 800px;
    height: 720px;
    border-radius: 2rem;
}
#topScreen{
    background-color: var(--top-screen-background);
    position: absolute;
    width: 780px;
    height: 380px;
    left: 10px;
    top: 20px;
    border-radius: 2rem;
}
#bottomScreen{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--bottom-screen-background);
    position: absolute;
    width: 780px;
    height: 300px;
    left: 10px;
    top: 410px;
    border-radius: 2rem;
}
.choiceCard{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin: .5rem;
    width: 370px;
    height: 130px; 
    background-color: var(--card-background);
}

.choiceCard:hover{
    border-radius: 3rem;
    background-color: var(--card-background-hover);
    cursor: pointer;
    transition: all 0.2s .03s ease-in-out;
}

#optionsSection{
    display:flex;
    flex-flow: row;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    top: 740px;
    background-color: var(--bottom-screen-background);
    width: 400px;
    height: 150px;
    left: 200px;
    border-radius: 2rem;
}

.optionCard{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin: .5rem;
    width: 200px;
    height: 130px;
    background-color: var(--card-background);
}

.optionCard:hover{
    border-radius: 3rem;
    background-color: var(--card-background-hover);
    cursor: pointer;
    transition: all 0.2s .03s ease-in-out;
}

.initCard{
    scale: 1%;
}

#leftColumn{
    /* background-color: var(--bottom-screen-background, 0.0); */
    background-color: rgba(0, 0, 0, 0.0);
    width: 160px;
    position: absolute;
    left: -180px;
    top: 20px;
    border-radius: 2rem;
}
#rightColumn{
    background-color: rgba(0, 0, 0, 0.0);
    width: 180px;
    position: absolute;
    left: 820px;
    top: 20px;
    border-radius: 2rem;
}

#nameEntry{
    background-color: var(--bottom-screen-background);
    border-radius: 4px;
    border: 4px black solid;
    position: absolute;
    left: 360px;
    top: 280px;
}


