:root{
    --main-background: #232323;
    --top-screen-background: #aaa;
    --bottom-screen-background: #888;
    --card-background: #333;
    --card-background-hover: #666;
}

*{
    block-size: border-box;
    margin: 0;
}

p{
    font-size: 1.5rem;
    font-family:Arial, Helvetica, sans-serif;
}
#titleCard{
    min-height: 5rem;
    border: 4px white solid;
}
#top {
    min-width: 1080px;
    color: white;
    font-size: 2rem;
    background: linear-gradient(.25turn, black, #222, black);
    text-align: center;
}
#body{
    background-color: black;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
}
#main {
    position: relative;
    background-color: var(--main-background);
    width: 800px;
    height: 720px;
    border-radius: 2rem;
}
#topScreen{
    background-color: var(--top-screen-background);
    position: absolute;
    width: 780px;
    height: 380px;
    left: 6px;
    top: 6px;
    border-radius: 2rem;
    border: 4px whitesmoke solid;
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
}
#bottomScreen{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--bottom-screen-background);
    position: absolute;
    width: 780px;
    height: 300px;
    left: 6px;
    top: 406px;
    border-radius: 2rem;
    border: 4px whitesmoke solid;
}
.choiceCard{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    font-size: 1rem;
    margin: .5rem;
    width: 370px;
    height: 130px; 
    background-color: var(--card-background);
    color: white;
}

.choiceCard:hover{
    border-radius: 3rem;
    background-color: var(--card-background-hover);
    cursor: pointer;
    transition: all 0.2s .03s ease-in-out;
}

#optionsSection{
    display:flex;
    flex-flow: row;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    top: 740px;
    background-color: var(--bottom-screen-background);
    width: 400px;
    height: 150px;
    left: 200px;
    border-radius: 2rem;
}

.optionCard{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin: .5rem;
    width: 200px;
    height: 130px;
    background-color: var(--card-background);
    color: white;
}

.optionCard:hover{
    border-radius: 3rem;
    background-color: var(--card-background-hover);
    cursor: pointer;
    transition: all 0.2s .03s ease-in-out;
}

.initCard{
    scale: 1%;
}

#leftColumn{
    /* background-color: var(--bottom-screen-background, 0.0); */
    background-color: rgba(0, 0, 0, 0.0);
    width: 180px;
    position: absolute;
    left: -200px;
    top: 20px;
    border-radius: 2rem;
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

#rightColumn{
    background-color: rgba(0, 0, 0, 0.0);
    width: 180px;
    position: absolute;
    left: 820px;
    top: 20px;
    border-radius: 2rem;
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

#mainParagraph{
    position:absolute;
    width: 90%;
    height: 90%;
    left: 25px;
    top: 10px;
    font-size: 2rem;
    font-family:Arial, Helvetica, sans-serif;
}

#nameEntry{
    background-color: var(--bottom-screen-background);
    border-radius: 4px;
    border: 4px black solid;
    color: white;
}

#nameEntry::placeholder{
    color: #DDD;
}

#textEntryHolder{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: calc(50% - 100px);
    top: calc(60% - 1.5rem);
    background-color: rgba(176, 176, 176, 0);
    height: 3rem;
    width: 200px;
    border-radius: 1rem;
}

.itemCard{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 4px black solid;
    padding: 3px;
    width: 160px;
    height: 30%;
    border-radius: 15%;
}

.itemCard img{
    width: 100%;
    height: auto;
}

.axeReq:hover:after{
    content: "           Axe Required!";
    white-space: pre;
    color: white;
    font-size: .8rem;
    text-shadow: 1px 1px 2px black;
    font-style: italic;
}

.torchReq:hover:after{
    content: "           Torch Required!";
    white-space: pre;
    color: white;
    font-size: .8rem;
    text-shadow: 1px 1px 2px black;
    font-style: italic;
}

.daggerReq:hover:after{
    content: "           Dagger Required!";
    white-space: pre;
    color: white;
    font-size: .8rem;
    text-shadow: 1px 1px 2px black;
    font-style: italic;
}

